@import '_normalize.scss';


*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 300%;
}

h2{
    font-size: 200%;
}

header{
    nav{
        ul{

            list-style: none;
             float: right;
            line-height: 60px;

            li{

                display: inline;
                color: white;
                padding-left: 10px;

                a{

                    color: white;
                    text-decoration: none;

                    &:hover{
                        border: solid 1px black;
                        color: chartreuse;
                    }
                }
            }
        }
    }
}

header nav img{
    width: 80px;
    height: 50px;
    float: left;
}

header nav{
    width: 1000px;
    margin: auto;
}

header{
    background-color: black;
    height: 60px;
    border-bottom: 3px solid navy;
}

#motivation{
    height: 600px;
    background-image: url('../img/hd-bg.jpeg');
    background-size: 100% 100%;
    background-position: 0 0;
    display: table;
    width: 100%;
}

#motivation div h1, h2{
    color: white;
    text-align: center;
}

#motivation div{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#motivation div button{
    border-radius: 50%;
    width: 200px;
    height: 60px;
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#motivation div button:hover{
    background-color: rgba(255,255, 255, 0.5);
}


#tovar{
    height: 500px;
}

#tovar article{
    width: 1000px;
    margin: auto;
    padding-top: 80px;
}

.left{
float: left;
width: 50%;
}

.right{
float: right;
width: 50%;
}

#review{
    background-color: darkcyan;
    height: 500px;
}

#review article{
    width: 1000px;
    margin: auto;
    text-align: center;
    padding-top: 80px;

}


#review article blockquote{
    color: white;
}

#review article blockquote::before{
    content: open-quote;
    font-size: 80px;
    color: tomato;
    clear: both;
}

footer{
    background-color: black;
    color: white;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    display: table;
    width: 100%;
}

footer #footer-content{
    display: table-cell;
    vertical-align: middle;
}